.modal {
    margin-top: 100px;
}

.modal-body {
    font-family: 'Give You Glory', cursive;
    font-size: 30px;
    text-align: center;
}

.btn-secondary {
    background-color: white;
    color: black;
    border: 1px solide black;
    font-size: 25px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}

.alert-text {
    margin-right: 30px;
}